
<div class="container">
          <div class="row">
            
            <div class="col-md-4">
               &nbsp;
            </div>

        </div>
        <div class="row">
            
            <div class="col-md-4">
                <button type="button" class="btn btn-default"  ng-click="new(newUrl)">Adicionar Novo</button>
            </div>
{{newUrl}}
        </div>
         <div class="row">
            
            <div class="col-md-4">
               &nbsp;
            </div>

        </div>
	<div class="row">

      <div class="table-responsive">
         <table class="table table-bordered table-hover">
            <thead class="thead-carrefour">
                <tr >
                    <th style="width: 30px;"><input type="checkbox" value="true" data-bind="checked: selectAll" /></th>
                    <th ng-repeat="field in fields" class="text-center" id="Sistema.Id" style="cursor:pointer" >{{field.value}}</th>
                    
                </tr>
            </thead>

            <tbody >
                <tr ng-repeat="datum in data"  ng-click="ViewItem(datum)" style="cursor:pointer">
                    <td><input type="checkbox"  /></td>
                    <td  ng-repeat="field in fields" ng-style="{ 'text-align': field.align}" >
                      <span ng-repeat="(key, value) in datum " ng-show="(key==field.name)"  >{{value}}</span>
                    </td>
                    
                    
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" class="row">
                        <div>
                            <ul class="pagination">
                                <li ><a  href="#">«</a></li>
                                
                                <li  ng-repeat="page in TotalPages" ng-class="{'active': page == ActualPage }"><a href="#" ng-click="Pagina(page)" >{{page}}</a></li>
                                <li ><a  href="#">»</a></li>
                            </ul>

                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
      </div>

      
	</div>
</div>